  <div class="navbar-fixed" ng-controller="NavCtrl">
    <nav class="black" role="navigation">
      <div class="nav-wrapper container">
        <a ng-href="#/" class="brand-logo" id="logo-container">Task Tracker</a>
        <ul class="right hide-on-med-and-down">
          <li><a ng-href="#!/alltasks">Home</a></li>
          <li><a ng-href="#!/newtask">New Task</a></li>
        </ul>
        <ul class="side-nav" id="nav-mobile">
          <li><a ng-href="#!/alltasks">Home</a></li>
          <li><a ng-href="#!/newtask">New Task</a></li>
        </ul><a class="button-collapse blue-text accent-2" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
